body {
    margin: 0;
    background-color: ghostwhite;
}

.container {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 550px;
    width: 450px;
    border: 8px solid rgb(52, 50, 50);
    margin: auto;
    margin-top: 100px;
    background-color: gray;
}

.container div {
    border: 2px solid black;
    border-radius: 8px;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 25px;
}

.screen {
    grid-column: 1/5;
    background-color: #FFFAFA;
}

.zero {
    grid-column: 1/3;
}

.AC, .sign, .percent {
    background-color: #E6E6FA;
}

.divide, .plus, .minus, .multiply, .equal {
    background-color: #DDA0DD;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .zero, .dot {
    background-color: rgb(255,192,203);
}